@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rubik&display=swap');

* {margin: 0;
   padding: 0;
   border: none;
}
body {
    font-family: 'Nunito', sans-serif; 
    font-weight: 300;
    color: #28282B;
}
/* headings and logo */
h1, h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1B1212;
    font-weight: 400;
}
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
#menu {
    font-size: 110%;
    letter-spacing: 3px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}
#menu a {
    text-decoration: none;
    color: inherit;

}
#menu a:hover {
    border-bottom: 1px solid #1B1212;
}
.active {
    border-bottom: 1px solid #1B1212;
}
/*hero image*/
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/superimagesmall.jpg) center center no-repeat;
    opacity: 0.8;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
/* create animation for superimage*/
@keyframes hero-zoom{
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.8);
   }

}
#cover-text {
    font-size: 130%;
    font-family: 'Nunito', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color:rgb(245,245,245, 0.7);

}

#club-ethos {
    height: 600px;

}
#left-about {
    padding-top: 30px;
    width: 33%;
    float:left;

}
#right-about {
    padding-top: 30px;
    width: 33%;
    float:right;
}
#logo-about {
    width: 60%;
    margin: 0 auto;
    height: auto;
    position: relative;
    top: -60px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30%;
  }
hr {
    border-top: 1px solid #28282B; 
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float:right; 
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left; 
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading h2 {
    text-align: right;
}
.right-about-heading p {
    text-align: right;
}
#welcome {
    text-align: center;
    margin: 30px 0;
    font-size: 250%;
}
/*about section*/

#about{
    font-size: xx-large;
    text-align: center;
}
/*footer element*/

footer{
    height: 150px;
}
.social-networks {
    text-align: center;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#1B1212;
}
/*photogallery*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    margin-left: 25px;
    margin-right: 25px;
}

/* media querry*/

/*from larger to mediumscreen sizes*/
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }
    #welcome {
        padding: 30px 0;
        margin: 0;
    }
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }
    #logo-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        height: auto;
    }
    hr {
        display: none;
    }
   
}
 /*for medium screen sizes up to 950px*/

 @media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float:left;
        margin-bottom: 20px;
        margin-left: 30px;
        line-height: 25px;
    }
    #cover-text {
        left: 0;

    }
    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-about-heading, .right-about-heading {
        width: inherit;

    }
    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }
    #photos {
        column-count: 1;
    }
    
}

#title-header {
    text-align: center;
    margin-top: 100px;
    font-size:xx-large

}

#form {
    margin: auto;
    padding: 10px;
    background-color: #28282B;
    text-align: center;
    color: whitesmoke;
    border-radius: 25px;
    width: 80%;
    height: 170px;
    opacity: 0.7;
    font-size: medium;
    

}
#submit {
     background-color: whitesmoke;
     height: 30px;
     width: 70px;
     border-style: outset;
     text-size-adjust: 100px;
     font-size: medium;
}
/*headers del about */

#why {
    margin-left: 70px;
}
#paragraph-why {
    margin-left: 50px;
    margin-right: 50px;
}
#how {
    margin-left: 70px;
    margin-top: 20px;
}
#paragraph-how {
    margin-left: 50px;
    margin-right: 50px;
}